@tailwind base;
@tailwind components;
@tailwind utilities;

.token-card-checkbox {
  margin: 0;
  padding: 0;
}

.token-card-checkbox::before {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
